#header {
    background-image: url('./images/indy-skyline.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    /* position: absolute; */
    /* top: 0; */
    display: flex;
    justify-content: center;
}

#header h1 {
    text-align: center;
    text-shadow: 3px 3px black;
    color: white;
    font-size: 75px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: 20px;
}

#headshot {
    height: 300px;
    position: absolute;
    left: 50px;
    top: 50px;
    border: 2px white solid;
    border-radius: 20%;
    box-shadow: 3px 3px black;
}

#cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#aboutCard {
    width: 500px;
}

.cardheader {
    text-align: center;
}

#contact {
    height: 375px;
}

#nav {
    justify-content: space-around;
}

#projects {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.projectcards {
    width: 500px;
    margin: 25px;
}